@import '@src/styles/functions';

.root {
  height: auto;
  width: 100%;
  translate: inherit !important;
  box-shadow: none;
  background-color: #000000;

  @include mobile {
    padding-top: var(--layout-columns-gap);
    padding-bottom: var(--layout-columns-gap);
  }
  .linksContainer {
    padding-top: calc(var(--layout-columns-gap) * 4);
    @include mobile {
      padding-top: calc(var(--layout-columns-gap) * 1.5);
    }

    width: 100%;
    > div {
      width: 100%;
    }
    .title {
      color: var(--white);
      padding-bottom: var(--layout-columns-gap);
    }

    .linkTextContainer {
      padding-top: calc(var(--layout-columns-gap) * 0.5);
      @include mobile {
        padding-top: calc(var(--layout-columns-gap) * 0.25);
      }
      .linkText {
        cursor: pointer;
        overflow: unset;
        display: flex;
        align-items: center;
        position: relative;
        > svg {
          height: 0.75vw;
          width: 0.75vw;
          top: auto;
          overflow: unset;
          fill: var(--white);
          stroke: var(--white);
          @include mobile {
            height: 2vw;
            width: 2vw;
            left: -2vw;
          }
        }

        &:hover {
          svg {
            transition: transform 0.4s cubic-bezier(0.4, 0, 0.1, 1) !important;
            transform: translate3d(1vw, 0, 0) rotate(-150deg) !important;
            @include mobile {
              transform: translate3d(2vw, 0, 0) rotate(-150deg) !important;
            }
          }

          span {
            transition: transform 0.4s cubic-bezier(0.4, 0, 0.1, 1) !important;
            transform: translate3d(0.6vw, 0, 0);
            @include mobile {
              transform: translate3d(1.8vw, 0, 0);
            }
          }
        }
      }
    }
  }

  .emailContaineer {
    @include mobile {
      grid-column: 1 / 7;
      padding-top: var(--layout-columns-gap);
    }

    padding-top: calc(var(--layout-columns-gap) * 4);
    width: min-content;
    grid-column: 9 / 17;
    .workWithMe {
      color: var(--white);
    }
    .link {
      color: var(--white);
      font-size: 2.5vw;
      line-height: 4.1vw;
      position: relative;
      white-space: nowrap;

      cursor: pointer;
      .email {
        color: var(--white);
      }
    }
    .link::before,
    .link::after {
      position: absolute !important;
      width: 100%;
      height: 1px;
      top: 100%;
      left: 0;
      pointer-events: none;
    }
    .link::before {
      content: '';
      /* show by default */
    }
    .link:hover path {
      stroke-dashoffset: 0;
      transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
      transition-duration: 0.3s;
    }
    .link:hover .linkGraphic {
      transform: translate3d(-65.5%, 0, 0);
    }
    .linkGraphic {
      position: absolute !important;
      left: 0;
      pointer-events: none;
      fill: none;
      stroke: var(--white);
      bottom: 0;
      stroke-width: 0.03em;
      transition: transform 0.7s;
      transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    }
  }

  .middleText {
    padding-top: calc(var(--layout-columns-gap) * 0.5);
  }
  .middleContainer {
    @include mobile {
      grid-column: 1 / 7 !important;
      padding-top: var(--layout-columns-gap);
    }

    > span > span > span {
      display: flex;
      flex-direction: column;
    }
  }
  div {
    color: var(--white);
  }

  .finbiz {
    @include mobile {
      grid-column: 1 / 6;
      font-size: 22.2vw;
      line-height: 17.428vw;
    }
    align-self: flex-end;
    grid-column: 1 / 13;

    font-size: 15.2vw;
    line-height: 12.628vw;
    transform: translate(-0.3vw, 2.1vw);
    color: var(--white);
    > span {
      display: inherit;
    }
  }
  .goToTop {
    position: relative;

    @include mobile {
      grid-column: 6 / 7;
    }
    align-self: flex-end;
    justify-self: flex-end;
    grid-column: 13 / 17;
  }
}
.circleButton {
  z-index: 2;
  box-shadow:
    0 0.32vw 0.52vw #0000000a,
    0 0.12vw 0.22vw #0000000a;
  @include mobile {
    width: 10vw;
    height: 10vw;
  }
  width: 4vw;
  height: 4vw;
  background-color: var(--white);
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  .arrowClassic {
    z-index: 2;
    @include mobile {
      width: 4vw;
      height: 4vw;
      top: 3.05vw;
      left: 3.05vw;
    }
    position: absolute;
    top: 1.25vw;
    left: 1.25vw;
    height: 1.5vw;
    width: 1.5vw;
    fill: var(--black);
    stroke: var(--black);
    transform: translateY(0vw) rotate(180deg);
  }

  .ball {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 40vw;
    background-color: var(--fillColor);
    -webkit-transition:
      width 0.6s cubic-bezier(0.4, 0, 0.1, 1),
      height 0.6s cubic-bezier(0.4, 0, 0.1, 1);
    transition:
      width 0.6s cubic-bezier(0.4, 0, 0.1, 1),
      height 0.6s cubic-bezier(0.4, 0, 0.1, 1);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
.circleButton:hover {
  .ball {
    width: 25vw;
    height: 25vw;
    z-index: 1;
    @include mobile {
      width: 80vw;
      height: 80vw;
    }
  }
}
