@import '@src/styles/functions';

.root {
  background-color: var(--white);
  padding-bottom: calc(var(--layout-columns-gap) * 4);
}

.header {
  grid-column: 2 / 16;
  padding: calc(var(--layout-columns-gap) * 4) 0;
  display: flex;
  flex-direction: column;
  gap: calc(var(--layout-columns-gap) * 1.5);

  @include mobile {
    grid-column: 1 / 7;
    padding: calc(var(--layout-columns-gap) * 3) 0;
  }
}

.meta {
  display: flex;
  gap: calc(var(--layout-columns-gap));
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 500;
}

.imageWrapper {
  grid-column: 2 / 16;
  margin-bottom: calc(var(--layout-columns-gap) * 3);

  @include mobile {
    grid-column: 1 / 7;
  }

  > div {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    border-radius: calc(var(--layout-columns-gap) * 0.5);
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }
}

.body {
  grid-column: 2 / 12;
  display: flex;
  flex-direction: column;
  gap: calc(var(--layout-columns-gap) * 1.5);

  @include mobile {
    grid-column: 1 / 7;
  }

  p {
    line-height: 1.8;
    max-width: columns(6);
  }
}
