@import '@src/styles/functions';

.root {
  position: relative;
  height: 140svh;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50svh;
  display: flex;
  overflow: hidden;
  width: 100%;
  box-shadow: none;
  @include mobile {
    padding-bottom: 20vh;
    height: 93svh;
  }
  .titleContainer {
    z-index: 1;
    max-width: 70%;
    @include mobile {
      max-width: 100%;
    }
    .subTitle {
      opacity: 0.7;
    }
    .title {
      color: var(--white);
    }
  }
  .wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 145svh;
    @include mobile {
      height: 96svh;
    }
    .imageContainer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      :global(img) {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.heroImage {
  object-fit: cover;
  object-position: center;
}
